@ms-ofb:registry=https://office.pkgs.visualstudio.com/_packaging/Office/npm/registry/
@microsoft:registry=https://office.pkgs.visualstudio.com/_packaging/Office/npm/registry/
@coherence-design-system:registry=https://microsoftit.pkgs.visualstudio.com/OneITVSO/_packaging/SE-DES-Coherence/npm/registry/
@m365-admin:registry=https://microsoftit.pkgs.visualstudio.com/OneITVSO/_packaging/SE-DES-Coherence/npm/registry/
@ms:registry=https://microsoftit.pkgs.visualstudio.com/OneITVSO/_packaging/SE-DES-Coherence/npm/registry/
always-auth=true
registry=https://pkgs.dev.azure.com/MicrosoftIT/OneITVSO/_packaging/OneITVSO_PublicPackages/npm/registry/ 